{% load static %}
{% load solo_tags %}
{% load poll_extras %}
{% load i18n %} 

{% get_solo 'landing.Header' as header_config %}
{% get_solo 'landing.SiteConfiguration' as site_config %}
{% get_solo 'landing.TextWhyWe' as text_why_we %}
{% get_solo 'popup.ConfigContactForm' as config_form %}
{% get_solo 'popup.PopUpThanksConsulting' as thanks_consulting %}
{% get_solo 'popup.PopUpThanksRegister' as thanks_register %}
{% get_solo 'popup.PopUpErrorRegister' as error_register %}
{% get_solo 'landing.BlockForStudents' as for_students %}
{% get_solo 'landing.ConfigFooter' as conf_footer  %}
{% get_solo 'landing.PopularСourses' as popular_course  %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{site_config.site_name}}</title>
	<link rel="icon" type="image/x-icon" href="{{MEDIA_URL}}{{site_config.icon}}" />
	<link rel="stylesheet" href="{% static  'css/style.css' %}">
	<!-- <link rel="stylesheet" href="{% static  'css/media.css' %}"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
	<script src="{% static 'js/ajax_form.js' %}"></script>
{% if result %}
<script>
$(document).ready(function(){
		$('#thanks').toggle('slow');
		$('#close_btn_thanks').click(function(){
		$('#thanks').hide(500);
		})
		
	})
</script>
{% endif %}

<script>
$(document).ready(function(){
	$('#close_btn_thanks_registration').click(function(){
			$('#thanks_register').hide(500);
		})
	$('#close_thanks_event').click(function(){
		$('#thanks-register-event').hide(500);
	})
});


</script>


<script>
  window.senderCallback = function() {
    SenderWidget.init({
      companyId: "i73893560810"
    });
  }
</script>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    js = d.createElement(s);
    js.id = id;
    js.src = "https://widget.sender.mobi/build/init.js";
    fjs.parentNode.insertBefore(js, fjs, 'sender-widget');
  })(document, 'script');
</script>






<style>
	.style-none button:nth-child(2)
	{
		display: none;
	}
	.none-seats
	{
		display: none !important;
	}
</style>
</head>
<body>

<div class="modal_thanks" id="thanks" style = 'display: none;'>

  <div class="" role="document">
  <button id = 'close_btn_thanks' type="button" class="close" data-dismiss="modal" aria-label="Close">X
        </button>
		<p>
			{{thanks_consulting.text}}
		</p>
        
       
  
  </div>
</div>


<div id="error" style = 'display: none;'>
	<p>{{error_register.text}}</p>
	<button id = 'error_close'>X</button>
</div>

<div class="modal_thanks_registration" id="thanks_register" style = 'display: none;'>

  <div class="" role="document">
  <button id = 'close_btn_thanks_registration' type="button" class="close" data-dismiss="modal" aria-label="Close">X
        </button>
		<p>
			{{thanks_register.text}}
		</p>

  </div>
</div>

	<header class = 'flex-container' style = 'background: url({{header_config.image.url}}) no-repeat; background-size: cover;'>
	{% get_current_language as LC %}
			<div class="s-header__lang">
				<a href="{% translate_url ru %}" class="b-btn b-btn--lang">{% trans "Рус" %}</a> 
				<a href="{% translate_url ua %}" class="b-btn b-btn--lang">{% trans "Укр" %}</a>
			</div>

	<div class="aligner">
		<div class="Aligner-item--fixed ">
			<div class="item title">
				<h1>Team <span>Factory</span></h1>
			</div>
			<div class="item text">

				{{header_config.header_text}}
			</div>
			<div class="item btn_a">
				<a type="button" data-toggle="modal"  data-target="#want_learn">{{header_config.btn_learn}}</a>
				<a href  = '{{header_config.link_presentation}}' target="_blank">{{header_config.btn_presentation}}</a>
			</div>
			
		</div>
	</div>
	<nav class="item nav">
			
				<a href="#about-us">{% trans 'О нас' %}</a>
				<a href="#courses">{% trans "Курсы" %}</a>
				<a href="#events">{% trans 'Ивенты' %}</a>
				<a href="#students">{% trans  'Студентам' %}</a>
				<a href="#contacts">{% trans  'Контакты' %}</a>
			</nav>
	</header>
	
	<div id = 'about-us' class="flex-container-row">
		<h2>{% trans "Почему мы?" %}</h2>
	</div>
	
	<section  class = 'flex-container-row section-row'>

	{% for elem in why_we %}
		<div class="why">
		<img src="{{elem.image.url}}" alt="">
			<p>{{elem.text}}</p>
		</div>
		{% endfor%}

		<p class = 'info-text'>{{text_why_we.text}}</p>
	</section>
	
	<section id = 'courses' class = 'content'>
	<h2>{% trans "Курсы" %}</h2>
	{% for course in courses_all %}
		<div class="author" style = 'background: url({{course.background.url}}) no-repeat;background-size: cover;'>
			<div class = 'photo' style  = 'background: url({% static "image/decor.png" %});'>
				<span>{{course.name_en}}</span>
				
				<img src="{{course.author.image.url}}" alt="">
				<span class = 'name'>{{course.author.name}} {{course.author.surname}}</span>
				<span class = 'position'>{{course.author.position}}</span>
			</div>
			<div class = 'about_course'>
				<p>{% trans "Курс" %}: <span class = 'name_course'>{{course.name_ru}}</span></p>
				<p>{% trans "Преподaватель" %}: <span>{{course.author.name}} {{course.author.surname}}</span></p>
				<p>{% trans "Длительность курса" %}: <span>{{course.duration}}</span> ({{course.start_course|date:"SHORT_DATE_FORMAT"}} - {{course.end_course|date:"SHORT_DATE_FORMAT"}})</p>
				<p class="text_course">
					{{course.description}}
				</p>
				<a href = '{{course.upload.url}}' target = '_blank' class = 'schedule_pdf'>{{course.shedule_btn_text}}</a>
		<a  id = 'id_{{course.id}}' type="button" class="want_learn {{course.number_of_seats|first_digit}}" data-toggle="modal" data-target="#learn_modal">
  {{course.learn_btn_text}}
		</a>
			</div>
			<div  id = 'none-seats-{{course.id}}' class="btn_course_none {{course.number_of_seats|zero_count_seats}}" style = 'display: none;'>
				<span>{% trans "Мест нет" %}</span>
			</div>
			<div class = 'btn_course {{course.number_of_seats|first_digit}}  {{course.number_of_seats|last_digit}}' id = "course_id_{{course.id}}" >
				<button>{{course.number_of_seats|first_digit}}</button>
				<button>{{course.number_of_seats|last_digit}}</button>
				<p>{% trans "мест осталось" %}</p>
			</div>
		</div>
		{% endfor %}
	</section>
	
	<section id = 'events' class = 'events content'>
		
		<h2>{% trans "ИВЕНТЫ" %}</h2>
		{% for event in new_events %}
		<div class="event">
			<span>{{event.theme}}</span>
			<span class = 'event_author'>{{event.lector.name}} {{event.lector.surname}}</span> 
			<span>{{event.lector.position}}</span>
			

			<a  class = 'click_event' data-toggle="modal"
								  data-target="#events_modal"
								  data-show = 'show_event'
								  data-id_event = {{event.id}}
								  data-url  ='detail-event/{{event.id}}'
								   >{% trans "Детали" %}</a>
			<span class="date">{{event.when|date:"SHORT_DATE_FORMAT"}}</span>
		</div>
		{% endfor%}

		<div class="many_event content events">
		{% for last_event in last_events %}
			<div class="event">
				<span>{{last_event.theme}}</span>
				<span class = 'event_author'>{{last_event.lector.name}} {{last_event.lector.surname}}</span>
				<span>{{last_event.lector.position}}</span>
				<a  class = 'click_event' data-toggle="modal"
								  data-target="#events_modal"
								  data-show = 'show_event'
								  data-id_event = {{last_event.id}}
								  data-url  ='detail-event/{{last_event.id}}'
								   >{% trans "Детали" %}</a>
			<span class="date">{{last_event.when|date:"SHORT_DATE_FORMAT"}}</span>
			</div>
			{% endfor %}
			</div>
		</div>
		{% if hidden_btn %}<button id = 'others'>{% trans "еще" %} <img id = 'arrow' src="{% static 'image/arrow-down.png'%}" alt=""></button>
		{% endif %}
		
	</section>
	
	<section id ='students' class = 'for_students'>

		<div id = 'first_block_stud'>
			<div class="line_up"></div>
			<div class="line_down"></div>
			<h3>{% trans "Студентам" %}</h3>
			
			<p>{{for_students.text}}</p>
			
		</div>
		<div class = 'img_for_students' style = 'background:url({{for_students.image.url}}) no-repeat;'>
		</div>
	</section>
	
	<section class = 'partners'>
	{% for partner in partners %}
		<a href=""><div style = 'background: url() ; background-size: contain; background-repeat: no-repeat;'><img src="{{partner.image.url}}" alt=""></div></a>
		{% endfor %}
	</section>
	
	<div class="partners" style = 'margin-top: 25px'>
		
		<span>{% trans "Партнеры" %}</span>
	</div>
	
	<footer>
	<div id= 'contacts' class="content_footer">
		<div class = 'contact'>
			<span> {% trans "Контакты" %}</span>
			<p id = 'geolocation'>{{conf_footer.mail}}</p>
			<p id = 'post'>{{conf_footer.skype}}</p>
			<p id = 'phone'>{{conf_footer.first_phone}}</p>
			<p id = 'phone'>{{conf_footer.second_phone}}</p>
			<a class = 'circle google'></a>
			<a class = 'circle vk'></a>
			<a class = 'circle skype'></a>
		</div>
		<div class = 'populary_course'>
			<span> {% trans "Популярные курсы" %}</span>
			<ul>
		
				<li>{{popular_course.first_course}}</li>
				<li>{{popular_course.two_course}}</li>
				<li>{{popular_course.three_course}}</li>
				<li>{{popular_course.four_course}}</li>
				
			</ul>
		</div>
		<div class = 'map'><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5692726703796!2d30.473564189920655!3d50.43049627796523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cec08021053f%3A0xc4ea1fab18506bd0!2zM0EsINGD0LsuINCh0L7Qu9C-0LzQtdC90YHQutCw0Y8sIDPQkCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1518176123746"  frameborder="0" style="border:0" allowfullscreen></iframe>.</div>
	</div>
	</footer>
	<div class="copy">
		
		<span>&copy; {{conf_footer.copyright}}</span>
	</div>
	
	
	<div id="want_learn_modal">
		{% trans "Учиться" %}
	</div>
	
	




{% include 'formcontact.html' %}

{% include 'registration_course.html' %}

{% include 'event/event_detail.html' %}






<script>
$(document).ready(function(){
	 $("#id_phone").mask("+380(99) 999-99-99");
	 $("#id_phone_client").mask("+380(99) 999-99-99");
});
</script>	
	
	

</body>
</html>